
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: var(--main-color);
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: var(--main-color);
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: var(--main-color);
} 