#nav-main{
  background-color: var(--dark-bg);
  z-index: 99;
}

.navbar-brand{
  color: var(--main-color)!important;
}

.navbar > a{
  color: var(--light-bg);
  margin-right: 20px;
}

.nav-item a {
    color: var(--light-bg);
    padding: 10px;
}

.nav-item{
  margin-left: 10px;
}


.nav-item a:hover {
  background-color: var(--main-color);
}

.navbar-toggler{
  border: 0px;
}
.navbar-toggler-icon{
  color:var(--light-bg);
  margin-top: -10px;
}
