.map{
    margin: auto;
    margin-top: 60px;
}
.timeline{
    text-align: center;
    margin-top: 40px;
}

#chartdiv{
    margin:40px;
}

.title{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-color);
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 700;
}

.column {
    float: left;
    padding: 10px;
    height: 450px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
