<app-nav-filter></app-nav-filter>


<div class="container-fluid">
<div class="title">WORLD MAP of TECHNOLOGIES</div>

<div class="row">

    <div class="col">
        <div class="map">
            <div id="chartdiv" style="height: 450px"></div>
        </div>
    </div>

    <div class="col-3" id="anteprima" style="display:none">
        <div class="title" >ANTEPRIMA DESCRIZIONE:</div>
        <div id="esterno">
            <div id="descr"></div>
            <button class="btn" onclick='document.getElementById("anteprima").style.display = "none"; '> Chiudi</button>          
        </div>
    </div>

</div>

<div class="timeline margin">
    <div class="title">TIME SELECTOR</div>
    <app-timeslider
        (timed)="onChanged($event)"
    ></app-timeslider>
</div>

</div>