<app-nav-filter></app-nav-filter>

<div class="title">WORLD MAP of TECHNOLOGIES</div>

<div class="row">

    <div class="column left">
        <div class="title" >ANTEPRIMA DESCRIZIONE:</div>
        <p id="descr">{{anteprima}}</p>
    </div>

    <div class="column right">
        <div class="map">
            <div id="chartdiv" style="height: 450px"></div>
        </div>
    </div>

</div>

<div class="timeline margin">
    <div class="title">TIME SELECTOR</div>
    <app-timeslider
        (timed)="onChanged($event)"
    ></app-timeslider>
</div>
