.container-fluid{
    padding: 50px!important;
}

.map{
    margin: auto;
    margin-top: 60px;
}
.timeline{
    text-align: center;
    margin-top: 40px;
}

#chartdiv{
    margin:40px;
}

.title{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-color);
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 700;
}

#anteprima{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-right:80px;
}

#esterno{
    
    border: 2px solid  #d9d9d9;    
    padding: 20px;
    border-radius: 20px;
}

.btn{
    margin: auto;
    margin-top: 100px;
    color: white;
    background-color: var(--main-color);
}