<nav class="navbar navbar-expand-lg "id="nav-filter">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="audio" ngDefaultControl [(ngModel)]="cat1" (click)="onClick(cat1)">Audio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="video" ngDefaultControl [(ngModel)]="cat2" (click)="onClick(cat2)">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cat3" ngDefaultControl [(ngModel)]="cat3" (click)="onClick(cat3)">Cat3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="all" ngDefaultControl [(ngModel)]="all" (click)="onClick(all)">All</a>
      </li>
      </ul>
  </div>

</nav>


