@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  background-color: #FDFFFC;

}

html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

:root {
  --dark-bg: #3F3F3F;  
  --light-bg: #FFFFFF;
  --main-color: #f2a737;
  --dark-1: #7A7A7A;
}